@model IEnumerable<TheatreBooking.Models.Sjediste>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BrojSjedista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slobodno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cijena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rezervacija)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrojSjedista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slobodno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cijena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rezervacija.RezervacijaID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SjedisteID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SjedisteID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SjedisteID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
