@model IEnumerable<TheatreBooking.Models.Predstava>

@{
    ViewData["Title"] = "Index";
}

<h1>Predstave</h1>

<p>
    @if (User.IsInRole("Administrator"))
    {    <a asp-action="Create">Kreiraj novu predstavu</a> }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Termin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dogadjaj)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Termin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dogadjaj.Naziv)
            </td>
            <td>
                @if (User.IsInRole("Administrator"))
                {

                    <a asp-action="Edit" asp-route-id="@item.PredstavaID">Edit</a>
                }
                @if (User.IsInRole("Administrator")) {
                    <a asp-action="Delete" asp-route-id="@item.PredstavaID">Delete</a>
                }
                <a asp-action="Details" asp-route-id="@item.PredstavaID">Details</a> |

            </td>
        </tr>
}
    </tbody>
</table>
