@model IEnumerable<TheatreBooking.Models.Rezervacija>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    
        <a asp-action="Create">Dodaj novu rezervaciju</a>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Predstava)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Predstava.Termin)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RezervacijaID">Edit</a> |
               
                    <a asp-action="Details" asp-route-id="@item.RezervacijaID">Details</a>  |
               
                    <a asp-action="Delete" asp-route-id="@item.RezervacijaID">Delete</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
